/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
h1 {
  color: #fff;
  font-size: 60px;
  padding-top: 260px;
}
a {
  text-decoration: none;
  color: black;
}

/* NAVBAR */
#nav-bar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  z-index: 1;
}
#nav-bar .logo {
  width: 15%;
  height: 50px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding: 10px;
}

/* MAIN CONTENT */
.main {
  background: url(../images/landing.jpg) no-repeat center center/cover;
  text-align: center;
  height: 750px;
  padding-top: 10px;
  color: #fff;
}
.content h2 {
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}
.icon {
  width: 20%;
}

/* FOOTER */
footer {
  background-color: #00b172;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 60px;
}
footer h2 {
  text-decoration: underline;
}
footer h3 {
  padding: 20px 0;
}
.logo-spotify {
  text-align: center;
  width: 10%;
}
.app {
  width: 17%;
}
